
<div class="hidden md:block max-w-7xl mx-auto space-y-6 h-[550px] backdrop-blur-md bg-white/30 border-white/40 shadow-lg rounded-2xl overflow-hidden">
  <div class="w-[400px] h-[400px] relative left-[700px] top-[100px] rounded-full bg-[#E8F0B6]"></div>
  <div class="w-[600px] relative left-[100px] bottom-[350px]">
    <h1 class="font-g-teko text-[200px] leading-[160px] text-[#FFFFFF]">T-Shirt Collection</h1>
    <h4 class="font-g-teko text-[20px] ml-2 text-[#FFFFFF]">Get your perfect T-shirt now</h4>
    <button (click)="openShop()" class="bg-white text-black ml-2 font-g-teko uppercase px-6 py-3 text-sm tracking-wide hover:bg-gray-300 transition">
    Shop Now
    </button>
  </div>
  <img class="w-[300px] relative bottom-[800px] left-[750px]" src="../../../../../assets/FINE_WINE_F_MODEL_MOCKUP-Photoroom.png" alt="">
</div>

<div class="md:hidden max-w-7xl mx-auto space-y-6 h-[550px] backdrop-blur-md bg-white/30 border-white/40 shadow-lg rounded-2xl overflow-hidden">
    <div class="w-[190px] h-[190px] relative left-[500px] top-[75px] rounded-full bg-[#E8F0B6]"></div>
    <div class="w-[600px] relative left-[50px] bottom-[100px]">
      <h1 class="font-g-teko text-[200px] leading-[160px] text-[#FFFFFF]">T-Shirt Collection</h1>
      <h4 class="font-g-teko text-[20px] ml-2 text-[#FFFFFF]">Get your perfect T-shirt now</h4>
      <button (click)="openShop()" class="bg-white text-black ml-2 font-g-teko uppercase px-6 py-3 text-sm tracking-wide hover:bg-gray-300 transition">
      Shop Now
      </button>
    </div>
    <img class="w-[300px] relative bottom-[555px] left-[440px]" src="../../../../../assets/FINE-WINE-MOCK-UP-DESIGN-B-Photoroom.png" alt="">
</div>
 