
<div *ngIf="fullImageDisplay != ''" class="flex p-[5px] w-[600px] h-[400px] rounded backdrop-blur-md bg-white/30 border-white/40 shadow-lg absolute left-[40%] top-[30%] z-1">
    <svg class="z-1 absolute w-6 h-6 text-white-800 dark:text-white" (click)="fullImageClose()" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
    </svg>
    <img class="w-[600px] h-[400px]" src="{{fullImageDisplay}}" alt="">
</div>
<div class="grid h-[550px] transition-grid-cols" [ngClass]="{'grid-cols-[15%_50%_30%]':isSideView,'gap-5':isSideView,'grid-cols-[15%_80%_0%]':!isSideView,'gap-20':!isSideView}">
    <div class="rounded-2xl ml-[10px]"></div>
    <div class="flex flex-wrap p-[20px] rounded-2xl overflow-y-scroll scrollbar-custom" [ngClass]="{'gap-5':isSideView,'gap-15':!isSideView}">
       @for (product of (products$ | async); track product.id) {
        <div class="w-[250px] h-[250px] rounded-2xl backdrop-blur-md bg-white/30 border-white/40 shadow-lg">
            <div (click)="fullImage(product.imageUrl)" class="flex p-[5px]">
                <svg class="absolute w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"/>
                </svg>
                <img class="absolute" src="{{product.imageUrl}}" alt="">
            </div>
            <div (click)="openCloseSideView()" class="flex w-[250px] h-[100px] relative top-[150px] bg-[#E8F0B6] rounded-bl-2xl rounded-br-2xl p-[5px]">
                <div class="w-[150px]">
                    <h2 class="font-g-teko text-[20px]">{{product.productName}}</h2>
                    <h1 class="font-g-teko text-[30px] font-bold">{{product.price | currency:'USD':'symbol'}}</h1>
                </div>
                <div class="flex flex-wrap gap-1 justify-end">
                        <button (click)="addToCart($event)" class="w-[100px] mr-2  bg-black text-white font-g-teko uppercase px-6 py-3 text-sm tracking-wide hover:bg-gray-300 hover:text-black transition">
                        Add to Cart
                        </button>
                        <button (click)="buyItem($event)" class="w-[100px] mr-2  bg-black  text-white font-g-teko uppercase px-6 py-3 text-sm tracking-wide hover:bg-gray-300 hover:text-black transition">
                        Buy Now
                        </button>
                    
                </div>
            </div>
        </div>
       }
    </div>
    <div *ngIf="isSideView" class="rounded-2xl mr-[5px]">
        <svg (click)="openCloseSideView()" class="z-1 absolute w-6 h-6 text-white-800 dark:text-white" (click)="fullImageClose()" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
        </svg>
    </div>
</div>



