<div
  class="min-h-screen flex flex-col sm:justify-center items-center py-8 bg-gray-100 dark:bg-gray-900"
>
  <h1
    class="text-2xl text-center max-w-sm text-slate-900 tracking-tight dark:text-slate-200"
  >
    Change your password
  </h1>
  <p class="p-4 text-center text-sm text-gray-600 dark:text-gray-400">
    Set a new password for your account to regain access.
  </p>
  <div
    class="w-full sm:max-w-md mt-2 px-6 py-4 bg-white dark:bg-gray-800 shadow-md overflow-hidden"
  >
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <app-input-label for="password" text="New Password" />
        <app-text-input
          formControlName="password"
          type="password"
          id="password"
          name="password"
        />
        <div
          *ngIf="submitted && formGroup.get('password')?.invalid"
          class="text-sm text-red-600 dark:text-red-400 mt-2"
        >
          Password is required (min 6 characters)
        </div>
      </div>

      <div>
        <app-input-label for="confirmPassword" text="Confirm Password" />
        <app-text-input
          formControlName="confirmPassword"
          type="password"
          id="confirmPassword"
          name="confirmPassword"
        />
        <div
          *ngIf="submitted && formGroup.get('confirmPassword')?.invalid"
          class="text-sm text-red-600 dark:text-red-400 mt-2"
        >
          Please confirm your password
        </div>
      </div>

      <div
        class="flex items-center justify-between flex-col-reverse sm:flex-row gap-4"
      >
        <div
          class="flex gap-2 items-center text-sm font-medium text-gray-500 dark:text-gray-400"
        >
          <div>Already register?</div>
          <div>
            <a
              [routerLink]="['/login']"
              class="underline text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 dark:focus:ring-offset-gray-800"
            >
              Log in
            </a>
          </div>
        </div>
        <app-primary-button [type]="'submit'"
          >Reset Password</app-primary-button
        >
      </div>

      <div
        *ngIf="submitted && errorMessage"
        class="text-sm text-red-600 dark:text-red-400 mt-2"
      >
        {{ errorMessage }}
      </div>

      <div
        *ngIf="submitted && successMessage"
        class="text-sm text-green-600 dark:text-green-400 mt-2"
      >
        {{ successMessage }}
      </div>
    </form>
  </div>
</div>
