<nav
  class="p-3 sm:px-4 lg:px-8 bg-white dark:bg-gray-800 border-b border-gray-100 dark:border-gray-700"
>
  <div class="max-w-7xl mx-auto flex flex-wrap items-center justify-between">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
      >
        Serene
      </span>

      <!-- Enlaces del menú (visible solo en md+) -->
      <div class="hidden md:flex items-center space-x-6 ml-6">
        <a
          [routerLink]="['/dashboard']"
          routerLinkActive="text-gray-900 dark:text-white border-b-blue-500"
          class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition-colors font-medium text-sm border-b border-transparent"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Dashboard
        </a>

        <!-- <a
          [routerLink]="['/characters']"
          routerLinkActive="text-gray-900 dark:text-white border-b-blue-500"
          class="text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition-colors font-medium text-sm border-b border-transparent"
        >
          Link
        </a> -->
      </div>
    </a>

    <!-- Hamburger Button -->
    <button
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      (click)="toggleMenu()"
    >
      <span class="sr-only">Toggle main menu</span>

      <!-- Hamburg icon -->
      <svg
        *ngIf="!isMenuOpen"
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>

      <!-- Icon close -->
      <svg
        *ngIf="isMenuOpen"
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>

    <!-- Menú -->
    <div
      [ngClass]="{ block: isMenuOpen, hidden: !isMenuOpen }"
      class="w-full md:block md:w-auto"
      id="navbar-default"
    >
      <!-- Mobile -->
      <div class="block md:hidden pt-4">
        <a
          [routerLink]="['/dashboard']"
          routerLinkActive="bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-white "
          class="w-full block px-2 py-2 border-transparent text-gray-600 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-gray-200 transition"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMenu()"
        >
          Dashboard
        </a>
       <!--  <a
          [routerLink]="['/characters']"
          routerLinkActive="bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-white"
          class="w-full block px-2 py-2 border-transparent text-gray-600 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-gray-200 transition"
          (click)="toggleMenu()"
        >
          Link
        </a> -->

        <div
          class="px-2 pt-4 pb-1 border-t border-gray-200 dark:border-gray-600"
        >
          <span class="font-medium text-base text-gray-800 dark:text-gray-200">
            {{ user?.name }} </span
          ><br />
          <span class="font-medium text-sm text-gray-500">
            {{ user?.email }}
          </span>
        </div>
        <a
          [routerLink]="['/profile']"
          routerLinkActive="dark:bg-gray-700 bg-gray-100 border-gray-600 text-gray-900 dark:text-white"
          class="w-full block px-2 py-2 border-transparent text-gray-600 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-gray-200 transition"
          >Settings</a
        >
        <a
          (click)="logout()"
          class="w-full block px-2 py-2 border-transparent text-gray-600 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-gray-200 transition"
        >
          Logout
        </a>
      </div>

      <!-- Desktop -->
      <div class="hidden md:flex items-center space-x-4">
        <!-- Dropdown usuario -->
        <div class="relative" #dropdownContainer>
          <button
            type="button"
            class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium text-gray-500 dark:text-gray-400 bg-white dark:bg-gray-800 hover:text-gray-700 dark:hover:text-gray-300 focus:outline-none transition ease-in-out duration-150 cursor-pointer"
            (click)="toggleUserMenu()"
          >
            <span>{{ user?.name }}</span>
            <svg
              class="w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </button>

          <!-- Dropdown menú -->
          <div
            *ngIf="isUserMenuOpen"
            class="absolute right-0 mt-2 w-48 py-2 z-20 px-1 bg-white dark:bg-gray-700 shadow border border-gray-100 dark:border-0"
          >
            <a
              [routerLink]="['/profile']"
              (click)="closeUserMenu()"
              class="block w-full px-2 py-2 text-left text-sm leading-5 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-800 transition duration-150 ease-in-out"
              >Settings</a
            >
            <a
              href="#"
              (click)="logout(); closeUserMenu()"
              class="block w-full px-2 py-2 text-left text-sm leading-5 text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:bg-gray-100 dark:focus:bg-gray-800 transition duration-150 ease-in-out"
              >Log out</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet />
