<div class="p-4 sm:p-8 bg-white dark:bg-gray-800 shadow">
  <div class="max-w-xl">
    <section>
      <header>
        <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
          Update Password
        </h2>
        <p class="mt-1 text-sm text-gray-600 dark:text-gray-400">
          Ensure your account is using a long, random password to stay secure.
        </p>
      </header>
      <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
        class="mt-6 space-y-4"
      >
        <div>
          <app-input-label for="currentPassword" text="Current Password" />
          <app-text-input
            formControlName="currentPassword"
            type="password"
            id="currentPassword"
            name="currentPassword"
          />
          <div
            *ngIf="submitted && formGroup.get('currentPassword')?.invalid"
            class="text-sm text-red-600 dark:text-red-400 mt-2"
          >
            Invalid current password
          </div>
        </div>

        <div>
          <app-input-label for="newPassword" text="New Password" />
          <app-text-input
            formControlName="newPassword"
            type="password"
            id="newPassword"
            name="newPassword"
          />
          <div
            *ngIf="submitted && formGroup.get('newPassword')?.invalid"
            class="text-sm text-red-600 dark:text-red-400 mt-2"
          >
            Invalid new password
          </div>
        </div>

        <div>
          <app-input-label for="confirmNewPassword" text="Confirm Password" />
          <app-text-input
            formControlName="confirmNewPassword"
            type="password"
            id="confirmNewPassword"
            name="confirmNewPassword"
          />
          <div
            *ngIf="submitted && formGroup.get('confirmNewPassword')?.invalid"
            class="text-sm text-red-600 dark:text-red-400 mt-2"
          >
            Confirm password is required
          </div>
          <div
            *ngIf="submitted && formGroup.errors?.['passwordMismatch']"
            class="text-sm text-red-600 dark:text-red-400 mt-2"
          >
            Passwords do not match
          </div>
        </div>
        <div class="flex items-center gap-4">
          <app-primary-button type="submit">Save</app-primary-button>
        </div>
        <div
          *ngIf="successMessage"
          class="text-green-600 dark:text-green-400 text-sm mt-2"
        >
          {{ successMessage }}
        </div>
        <div
          *ngIf="errorMessage"
          class="text-sm text-red-600 dark:text-red-400 mt-2"
        >
          {{ errorMessage }}
        </div>
      </form>
    </section>
  </div>
</div>
